
 .racine{
  width: 100%;
  height: 40vh;
  display: flex;
  margin-top: 40px;
 }

#partieGauche{
    width: 50%;
    height: 100%;
    position: relative;
}

#partieGauche .ligne1{
    width: 100%;
    height: 50%;
    display: flex;
}

#partieGauche .ligne2{
  display: flex;
  width: 100%; 
  height: 50%;
  position: absolute;
  bottom: 30px;
}

.ligne1 .monBut{
    width: 30%;
    height: 100%;
}

.ligne1 .imgL2{
    width: 70%;
    height: 100%;
}

.ligne1 .imgL2 img{
  width: 100%;
  height: 100%;
}

.ligne2 .monBut{
  width: 30%;
  height: 100%;
}

.ligne1 .monBut button{
  color: white;
  width: 70%;
  background-color:  #19376D;
}

.ligne2 .monBut button{
  color: white;
  width: 70%;
  background-color:  #19376D;
  margin-top: 10vh;
  margin-left: 30%;
}

.ligne2 .monImg{
  width: 70%;
  height: 100%;
}

.ligne2 .monImg img{
  width: 100%;
  height: 100%;
 
}

.partieDroite{
    width: 50%;
    height: 100%;
    font-size: 23px;
    margin-left: 40px;
}

.partieDroite a{
  color: #19376D;
  text-decoration: none;
}

h5{
  color: #19376D;
}

h1{
  color: #19376D;
}

.rounded{
  width: 50vh;
  height: 20vh;
  margin: 15px;
}

@media (max-width: 991.98px) {
    .padding {
      padding: 1.5rem;
    }

    .racine{
      display: inline-block;
      align-items: center;
    }

.monBut button{
  font-size: 10px;

}
  }
  @media (max-width: 767.98px) {
   
    #partieGauche{
      left: 0;
      right: 0;
    }

.partieDroite{
  font-size: 15px;
 
}

    }



  