/* 

.partieDroite a{
    font-size: 25px;
    color: #19376D;
    margin: 50px;
}
.partieDroite p{
    font-size: 20px;
}

.racine{
    background-color: rgba(198, 197, 197, 0.248);
    display: flex;
    height:auto;
    margin-top: 20px;
}

.partieGauche{
    width: 100%;
    position: relative;
}

.partieDroite{
    width: 50%;
}

.partieGauche .ligne1{
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: space-between;
}

.partieGauche .ligne2{
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
 }

 .ligne1 .monImg{
    width: 50%;
    height: 25vh;
    background-size: cover;
 }

 .ligne2 .monImg{
    width: 50%;
    height: 25vh;
    margin-top: 10vh;
    background-size: cover;
 }

 .monImg img{
    width: 100%;
    height: 100%;
 }

 .ligne2 img{
    margin-left: 20%;
 }

 .ligne1 .monBut .btn{
    background-color: #19376D;
    color: #ffffff;
 }

 .ligne2 .monBut .btn{
    background-color: #19376D;
    color: #ffffff;
 } */

 .racine{
    display: flex;
 }

.partieGauche{
    background-color: aqua;
    width: 50%;
}

.partieGauche .ligne1{
    border: 2px solid black;
    background-color: red;
    width: 100%;
    height: 10vh;
    display: flex;
}

.ligne1 .monBut{
    background-color: aqua;
    width: 30%;
    height: 6vh;
}


.ligne1 .monImg{
    background-color: orange;
    width: 30%;
    height: 6vh;
}


.partieGauche .ligne2{
    border: 2px solid black;
    background-color: yellowgreen;
    width: 100%;
    height: 10vh;
}

.partieDroite{
    background-color: blue;
    width: 50%;
    height: 100%;
}







@media (max-width: 991.98px) {
    .padding {
      padding: 1.5rem;
    }
  }
  @media (max-width: 767.98px) {
   
.partieGauche{
   left: 0;
   right: 0;
}
  }
  .padding {
    padding: 3rem;
  }
  .owl-carousel .item {
    margin: 3px;
  }
  .owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
  }
  .owl-carousel .item {
    margin: 3px;
  }
  .owl-carousel {
    margin-bottom: 15px;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: pink;
  }
  