*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A5D7E8;
}

h3{
    color: #19376D;
    margin: 15px;
    text-transform: uppercase;
}


.container{
    margin-top: 80px;
    background-color: #ffffff;
    padding: 100px;
    border-radius: 20px/50px;
}
.btn{
    background-color: #19376D;
    width: 20%;
    height: 50px;
    color: #ffffff;
    margin-top: 40px;
    float: left;
    position: relative;
    left: 80%;
    font-size: 25px;
}


.col input{
    background-color: hsla(0, 4%, 77%, 0.791);
    border: 1px solid black;
    color: black;
 }


p{
    text-align: center;
    font-size: 20px;
    color: #19376D;
}

span{
    color: red;
}

select{
    width: 60%;
}


label{
    color: #19376D;
    font-size: 25px;
    margin-left: 15px;
}

.col select{
    background-color: hsla(0, 4%, 77%, 0.791);
    border: 1px solid black;
 }

 .container .fa-solid {
    font-size: 40px;
    color: #19376D;
 }


.input-group a{
    color: #ffffff;
 }


h5{
    font-size: 100px;
}

