<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/css/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="container">
        <a href="/espaceUser"><i class="fa-solid fa-arrow-left"></i></a>
        <h3>Profil</h3>
        <form>
            <div class="row mb-3">
                <div class="col">
                    <label for="">Email <span>*</span></label>
                    <input type="email" class="form-control" placeholder="Nom">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="">Nom <span>*</span></label>
                    <input type="text" class="form-control" placeholder="Nom">
                </div>
                <div class="col">
                    <label for="">Prenom <span>*</span></label>
                    <input type="text" class="form-control" placeholder="Prénom">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="">Contacts <span>*</span></label>
                    <input type="number" class="form-control" placeholder="Nom">
                </div>
                <div class="col">
                    <label for="selection">Pays <span>*</span></label>
                    <select id="selection" class="form-control">
                        <option value="">pays d'origine</option>
                        <option value="">Cote d'Ivoire</option>
                        <option value="">Burkina/Faso</option>
                        <option value="">France</option>
                        <option value="">Gabon</option>
                        <option value="">Togo</option>
                        <option value="">Mali</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="selection">Ville/Commune <span>*</span></label>
                    <select id="selection" class="form-control">
                        <option value="">Abidjan / Koumassi</option>
                        <option value="">Ouagadougou / Tenkodogo</option>
                        <option value="">Paris / Morangis</option>
                        <option value="">Libreville / Kumassi</option>
                        <option value="">Lomé / Badou</option>
                        <option value="">Bamako / Sikasso</option>
                    </select>
                </div>
                <div class="col">
                    <div class="check">
                        <label for="">Genre <span>*</span></label> <br>
                        <input type="radio" name="Feminin">
                        <label for="">Feminin</label>
                        <label for="" id="flaot">Masculin</label>
                        <input type="radio" name="Feminin" id="flot">
                    </div>
                </div>
            </div>
          
        </form>
      <div class="col">
        <div class="input-group mb-5">
            <button class="" type="button" id="bouton-texte"><a href="">Supprimer Le Compte <i class="fa-solid fa-trash-can" style="font-size: 15px;"></i></a></button>
            <button class="" type="button" id="bouton-texte"><a href="">Modifier <i class="fa-regular fa-pen-to-square"></i></a></button>
        </div>
      </div>
        <p>Nb: Veuillez a rempli tout les champs en <span>*</span> <br> pour plus de Securité. Merci!!!</p>
    </div>
    
</body>
</html>