<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info_supple</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/fonts/icomoon/style.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <!-- Style -->
    <link rel="stylesheet" href="/css/info_supple.css" type="text/css">
    
</head>
<body>
    <div class="container">
        <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
        <h4 class="m-3">Informations Supplementaires</h4>
        <form action="/saveEngagement" method="post">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="periode">Periode Cotisation (Jours)</label>
                        </div>
                        <!-- <input type="text" class="form-control" id="periode" aria-describedby="periode" name="periode" placeholder="Compte de paiement"> -->
                        <select class="custom-select" id="periode" name="periode" required>
                            <option selected value="">Choisir...</option>
                            <option value="30">30 Jours</option>
                            <option value="15">15 Jours</option>
                            <option value="7">7 Jours</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="montant">Montant (FCFA / Jours)</label>
                        </div>
                        <!-- <input type="text" class="form-control" id="montant" aria-describedby="montant" name="montant" placeholder="Compte de paiement"> -->
                        <select class="custom-select" id="montant" name="montant" required>
                            <option selected value="">Choisir...</option>
                            <option value="10000">10000 FCFA</option>
                            <option value="15000">15000 FCFA</option>
                            <option value="20000">20000 FCFA</option>
                            <option value="30000">30000 FCFA</option>
                            <option value="50000">50000 FCFA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="moyen_paiement">Moyen de paiement</label>
                        </div>
                        <select class="custom-select" id="moyen_paiement" name="moyen_paiement" required>
                            <option selected value="">Choisir...</option>
                            <option value="ORANGE MONEY">ORANGE MONEY</option>
                            <option value="MTN MONEY">MTN MONEY</option>
                            <option value="MOOV MONEY">MOOV MONEY</option>
                            <option value="WAVE MONEY">WAVE MONEY</option>
                            <option value="CARTE">CARTE BANCAIRE</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="compte_paiement">Compte de paiement</label>
                        </div>
                        
                        <input type="text" class="form-control" id="compte_paiement" aria-describedby="compte_paiement" name="compte_paiement" placeholder="Compte de paiement" required>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="tauxInteret">Taux d'interêt</label>
                        </div>
                        <input type="text" class="form-control" id="tauxInteret" aria-describedby="tauxInteret" disabled value="<%= conf.interetContisation %>"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="id_client ">Admin</label>
                        </div>
                        <input type="text" name="id_client"  id="id_client" aria-describedby="id_client" class="form-control" value="<%= Number(admin.id) %>"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-primary">Créer le compte</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<SCRipt>
    
</SCRipt>
</html>