<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="./../fonts/icomoon/style.css" />

    <link rel="stylesheet" href="./../css/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./../css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../css/creation.css">
</head>

<body>
    <div class="container mb-0">
        <a href="../index.html" class="mb-0"><i class="fa-solid fa-arrow-left"></i></a>
        <h3>INSCRIPTION</h3>
        <form action="http://localhost:3000/api/admins" method="post">
            <div class="row mb-2">
                <div class="col">
                    <label for="">Nom <span>*</span></label>
                    <input type="text" class="form-control" name="nom" placeholder="Nom" required>
                </div>
                <div class="col">
                    <label for="">Prenom <span>*</span></label>
                    <input type="text" class="form-control" name="prenom" placeholder="Prénom" required>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label for="">Email <span>*</span></label>
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="col">
                    <label for="">Téléphone <span>*</span></label>
                    <input type="number" name="telephone" class="form-control"  placeholder="Téléphone" required>
                </div> 
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label for="">Mot de passe <span>*</span></label>
                    <input type="password" name="password" class="form-control" placeholder="Mot de passe" required>
                </div>
                <div class="col">
                    <label for="">Mot de passe de confirmation <span>*</span></label>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Mot de passe de confirmation">
                </div>
            </div>
            
            <!-- <div class="form-row">
                
                <div class="col">
                    <label for="selection">Pays <span>*</span></label>
                    <select id="selection" class="form-control">
                        <option value="">pays d'origine</option>
                        <option value="">Cote d'Ivoire</option>
                        <option value="">Burkina/Faso</option>
                        <option value="">France</option>
                        <option value="">Gabon</option>
                        <option value="">Togo</option>
                        <option value="">Mali</option>
                    </select>
                </div>
            </div> -->
            <div class="form-row">
                <!-- <div class="col">
                    <label for="selection">Ville/Commune <span>*</span></label>
                    <select id="selection" class="form-control">
                        <option value="">Abidjan / Koumassi</option>
                        <option value="">Ouagadougou / Tenkodogo</option>
                        <option value="">Paris / Morangis</option>
                        <option value="">Libreville / Kumassi</option>
                        <option value="">Lomé / Badou</option>
                        <option value="">Bamako / Sikasso</option>
                    </select>
                </div> -->
                <div class="col-lg-5">
                    <div class="check">
                        <label for="">Genre <span>*</span></label> <br>
                        <input type="radio" value="feminin" name="genre">
                        <label for="">Feminin</label>
                        <label for="" id="flaot">Masculin</label>
                        <input type="radio" name="genre" value="masculin" id="flot">
                    </div>
                </div>
            </div>
            <div class="input-group mb-2">
                <!-- <button class="btn btn" type="button" id="bouton-texte"><a href="./../HTML/info_supple.html">Suivant<i class="fa-solid fa-arrow-right"></i></a></button> -->
                <button class="btn btn-primary" type="submit" id="bouton-texte">Suivant <i class="fa-solid fa-arrow-right"> </i> </button>
            </div>
        </form>
        <p>J’ai deja un compte ? <a href="connexion.html">Connexion</a></p>
        <p>Nb: Veuillez a rempli tout les champs en <span>*</span> <br> pour plus de Securité. Merci !!! </p>
    </div>

    <script src="./../js/jquery-3.3.1.min.js"></script>
    <script src="./../js/popper.min.js"></script>
    <script src="./../js/bootstrap.min.js"></script>
    <script src="./../js/jquery.sticky.js"></script>
    <script src="./../js/main.js"></script>
</body>

</html>