*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #A5D7E8;
}
.col img{
    height: 56vh;
}

form .fa-solid {
    font-size: 20px;
    color: #19376D;
 }

.btn {
    background-color: #19376D;
    color: #ffffff;
}

.container{
    margin-top: 130px;
}